@import "../../theme/all";

.SignalButton {
  &__popup {
    & form {
      text-align: left;
    }

    & textarea {
      display: block;
      border: 1px solid var(--grey-dark);
      width: 100%;
      margin-top: 1rem;
      min-height: 12rem;
    }

    & .CustomButton {
      margin-left: auto;
    }
  }
}
