@import "../../theme/all";

.ShareButton {
  &__wrapper p,
  &__buttons,
  &__wrapper label {
    margin-bottom: 1rem;
  }

  &__wrapper label {
    display: inline-block;
  }

  &__copy {
    &--input {
      display: flex;
      margin-bottom: 1rem;

      input {
        margin-bottom: 0;
        border: 1px solid var(--bg-dark);
        background-color: var(--bg-dark);
        width: 100%;
        margin-right: 0.5rem;
        border-radius: $radius-md;
      }

      .CustomButton {
        margin-bottom: 0;
      }
    }
  }

  &__buttons > *:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}
