@import "../../theme/all";

.Searchbar {
  margin: 0 12rem 0 8rem;
  display: flex;

  & input {
    border: 1px solid var(--grey-dark);
    max-width: 60vw;
    border-radius: $radius-md;
    width: 100%;
    margin-bottom: 0;
  }

  & .CustomButton {
    margin-left: 0.5rem;
  }
}
