@import "../../theme/all";

.ImageFullscreenSlider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--black-overlay-dark);
  z-index: 200;
  overflow: auto;

  &__wrapper {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__close {
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-white-light);
    border-radius: $radius-round;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: var(--primary-medium);
    }
  }
}
